name: 'General CI'

on:
  # run on pushes to main
  push:
    branches:
      - main
      - gh-readonly-queue/main/**
  # run on pull requests that target the main branch
  pull_request:
    branches:
      - main
  # run weekly on Monday at 12:00
  schedule:
    - cron: '0 12 * * 1'
  # allows to reuse the workflow in other repositories
  workflow_call:
    inputs:
      filterRegexExclude:
        description: 'Regular expression defining which files will be excluded from linting'
        type: string
        default: none
      lintTypescript:
        description: 'Flag to enable or disable the linting process of the TypeScript language. (Utilizing: eslint)'
        type: boolean
        default: false
      lintDocker:
        description: 'Flag to enable or disable the linting process of the Docker language. (Utilizing: hadolint)'
        type: boolean
        default: false
    secrets:
      # necessary permissions: 'contents: read', 'statuses: write'
      # GITHUB_TOKEN:
      #   required: true
      GITGUARDIAN_API_KEY:
        description: API key used for authenticating against the GitGuardian APIs
        required: true

concurrency:
  # on main, we want all builds to complete even if commits/merging happens faster to make it easier to discover at which point
  # something broke; else, we cancel "old" builds and run/(re)start the build with the latest changes
  group: ${{ github.ref == 'refs/heads/main' && format('ci-main-{0}-{1}', github.workflow, github.sha) || format('ci-{0}-{1}', github.workflow, github.ref) }}

jobs:
  code_quality:
    name: 'Code Quality Checks'
    runs-on: ubuntu-latest
    timeout-minutes: 30

    defaults:
      run:
        shell: bash
        working-directory: '.'

    permissions:
      contents: read
      statuses: write

    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      DEFAULT_BRANCH: ${{ github.event.repository.default_branch }}
      # https://github.com/actions/runner/issues/409#issuecomment-752775072
      FILTER_REGEX_EXCLUDE: ${{ inputs.filterRegexExclude || 'none' }}
      TYPESCRIPT_DEFAULT_STYLE: prettier
      VALIDATE_ALL_CODEBASE: ${{ github.event_name != 'pull_request' }}
      VALIDATE_BASH: true
      VALIDATE_EDITORCONFIG: true
      VALIDATE_GITHUB_ACTIONS: true
      VALIDATE_GITLEAKS: true
      VALIDATE_JSON: true
      VALIDATE_MARKDOWN: true
      VALIDATE_NATURAL_LANGUAGE: true
      VALIDATE_SHELL_SHFMT: true
      VALIDATE_YAML: true

    steps:
      - name: StepSecurity - Harden Github-hosted Runners
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit
          disable-telemetry: true
          disable-sudo: true

      - name: Git - Checkout
        id: git_checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          # Checkout full git history; required by git-leaks
          fetch-depth: 0

      - name: SuperLinter - Set Dynamic Environment
        id: superlinter_env
        run: |
          # We only set the variables to 'true' if the input is true.
          # We avoid setting them to 'false' because SuperLinter does not allow mixing 'true' and 'false' for VALIDATE_* variables.
          if [ "${{ inputs.lintDocker }}" = "true" ]; then
            echo "VALIDATE_DOCKERFILE_HADOLINT=true" >> $GITHUB_ENV
          fi
          if [ "${{ inputs.lintTypescript }}" = "true" ]; then
            echo "VALIDATE_TYPESCRIPT_ES=true" >> $GITHUB_ENV
          fi

      - name: SuperLinter - Lint Files
        id: superlinter_scan
        uses: github/super-linter/slim@45fc0d88288beee4701c62761281edfee85655d7 # v5.0.0

  git_secrets:
    name: 'Git Secret Exposure Checks'
    runs-on: ubuntu-latest
    timeout-minutes: 15

    defaults:
      run:
        shell: bash
        working-directory: '.'

    permissions:
      contents: read
      statuses: write

    steps:
      - name: StepSecurity - Harden Github-hosted Runners
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit
          disable-telemetry: true
          disable-sudo: true

      - name: Git - Checkout
        id: git_checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          # Checkout full git history; required by GitGuardian
          fetch-depth: 0

      - name: GitGuardian - Scan For Commited Secrets
        id: gitguardian_scan
        uses: GitGuardian/ggshield-action@8b29edc57b582045b12d45c8cc8f8040e121693b # v1.46.0
        continue-on-error: true # TODO: workaround for issue: https://github.com/actions/checkout/issues/1169
        env:
          GITGUARDIAN_API_KEY: ${{ secrets.GITGUARDIAN_API_KEY }}

  public_key_verification:
    name: 'Public Key Verification'
    runs-on: ubuntu-latest
    timeout-minutes: 15

    defaults:
      run:
        shell: bash
        working-directory: '.'

    permissions:
      contents: read

    env:
      # renovate: datasource=github-releases depName=sigstore/cosign
      COSIGN_VERSION: v3.0.4

    steps:
      - name: StepSecurity - Harden Github-hosted Runners
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit
          disable-telemetry: true
          disable-sudo: true

      - name: Git - Checkout
        id: git_checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Cosign - Setup
        id: cosign_setup
        uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad # v4.0.0
        with:
          cosign-release: ${{ env.COSIGN_VERSION }}

      - name: Cosign - Verify Public Key
        id: cosign_verify
        run: |
          cosign verify-blob --key cosign.pub --signature cosign.pub.sig cosign.pub
        working-directory: ./public_key/
