---
name: 'General CI'

"on":
  # run on pushes to Main
  push:
    branches:
      - main
      - gh-readonly-queue/main/**
  # run on pull requests that target the Main branch
  pull_request:
    branches:
      - main
  # run weekly on Monday at 12:00
  schedule:
    - cron: '0 12 * * 1'
  # allows to reuse the workflow in other repositories
  workflow_call:
    inputs:
      filterRegexExclude:
        description: >-
          Regular expression defining which files will be excluded from linting
        type: string
        default: none
      lintTypescript:
        description: >-
          Flag to enable or disable the linting process of the TypeScript
          language. (Utilizing: eslint)
        type: boolean
        default: false
      lintDocker:
        description: >-
          Flag to enable or disable the linting process of the Docker language.
          (Utilizing: hadolint)
        type: boolean
        default: false
    secrets:
      # necessary permissions: 'contents: read', 'statuses: write'
      # GITHUB_TOKEN:
      #   required: true
      GITGUARDIAN_API_KEY:
        description: >-
          API key used for authenticating against the Git Guardian APIs
        required: true

concurrency:
  group: >-
    ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  code_quality:
    name: 'Code Quality Checks'
    runs-on: ubuntu-latest
    timeout-minutes: 30

    defaults:
      run:
        shell: bash
        working-directory: '.'

    permissions:
      contents: read
      statuses: write

    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      DEFAULT_BRANCH: ${{ github.event.repository.default_branch }}
      # runner issue 409: https://github.com/actions/runner/issues/409
      FILTER_REGEX_EXCLUDE: ${{ inputs.filterRegexExclude || 'none' }}
      VALIDATE_ALL_CODEBASE: ${{ github.event_name != 'pull_request' }}
      VALIDATE_BASH: true
      VALIDATE_EDITORCONFIG: true
      VALIDATE_GITHUB_ACTIONS: true
      VALIDATE_GITLEAKS: true
      VALIDATE_JSON: true
      VALIDATE_MARKDOWN: true
      VALIDATE_NATURAL_LANGUAGE: true
      VALIDATE_SHELL_SHFMT: true
      VALIDATE_YAML: true

    steps:
      - name: StepSecurity - Harden Github-hosted Runners
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e
        with:
          egress-policy: audit
          disable-telemetry: true
          disable-sudo: true

      - name: Git - Checkout
        id: git_checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
        with:
          # full history for GitLeaks
          fetch-depth: 0

      - name: SuperLinter - Set Dynamic Environment
        id: superlinter_env
        run: |
          # We only set the variables to 'true' if the input is true.
          # We avoid setting them to 'false' because SuperLinter does not allow
          # mixing 'true' and 'false' for VALIDATE_* variables.
          if [ "${{ inputs.lintDocker }}" = "true" ]; then
            echo "VALIDATE_DOCKERFILE_HADOLINT=true" >> "$GITHUB_ENV"
          fi
          if [ "${{ inputs.lintTypescript }}" = "true" ]; then
            echo "VALIDATE_TYPESCRIPT_ES=true" >> "$GITHUB_ENV"
          fi

      - name: SuperLinter - Lint Files
        id: superlinter_scan
        uses: >-
          super-linter/super-linter/slim@12562e48d7059cf666c43a4ecb0d3b5a2b31bd9e

  git_secrets:
    name: 'Git Secret Exposure Checks'
    runs-on: ubuntu-latest
    timeout-minutes: 15

    defaults:
      run:
        shell: bash
        working-directory: '.'

    permissions:
      contents: read
      statuses: write

    steps:
      - name: StepSecurity - Harden Github-hosted Runners
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e
        with:
          egress-policy: audit
          disable-telemetry: true
          disable-sudo: true

      - name: Git - Checkout
        id: git_checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
        with:
          # full history for Git Guardian
          fetch-depth: 0

      - name: Git Guardian - Scan For Commited Secrets
        id: gitguardian_scan
        uses: >-
          GitGuardian/ggshield-action@50c99a7fbe0e313f962dc5bb74d8271e02543c3a
        continue-on-error: true  # checkout issue 1169
        env:
          GITGUARDIAN_API_KEY: ${{ secrets.GITGUARDIAN_API_KEY }}

  public_key_verification:
    name: 'Public Key Verification'
    runs-on: ubuntu-latest
    timeout-minutes: 15

    defaults:
      run:
        shell: bash
        working-directory: '.'

    permissions:
      contents: read

    env:
      # renovate: datasource=github-releases depName=sigstore/cosign
      COSIGN_VERSION: v3.0.5

    steps:
      - name: StepSecurity - Harden Github-hosted Runners
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e
        with:
          egress-policy: audit
          disable-telemetry: true
          disable-sudo-and-containers: true

      - name: Git - Checkout
        id: git_checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683

      - name: Cosign - Setup
        id: cosign_setup
        uses: >-
          sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad
        with:
          cosign-release: ${{ env.COSIGN_VERSION }}

      - name: Cosign - Verify Public Key
        id: cosign_verify
        run: >-
          cosign verify-blob --key cosign.pub --signature cosign.pub.sig
          cosign.pub
        working-directory: ./public_key/
