---
name: 'Public Key CI'

"on":
  # when 'General CI' completed:
  workflow_run:
    workflows: ['General CI']
    types:
      - completed

concurrency:
  group: >-
    ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  public_key_verification:
    name: 'Upload and Sign Public Key'
    runs-on: ubuntu-latest
    timeout-minutes: 15

    # only run if:
    # - triggering workflows completed successfully:
    # - the build runs on the default branch
    if: >-
      github.event.workflow_run.conclusion == 'success' &&
      github.ref == format('refs/heads/{0}',
      github.event.repository.default_branch)

    defaults:
      run:
        shell: bash
        working-directory: '.'

    permissions:
      contents: read
      packages: write

    env:
      # renovate: datasource=github-releases depName=sigstore/cosign
      COSIGN_VERSION: v3.0.5
      REGISTRY: ghcr.io  # GitHub Registry

    steps:
      - name: StepSecurity - Harden Github-hosted Runners
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e
        with:
          egress-policy: audit
          disable-telemetry: true
          disable-sudo-and-containers: true

      - name: TESTING
        id: cosign_sign
        run: |
          echo ${{ github.event_name }}
          echo ${{ github.event.repository.default_branch }}
          echo ${{ github.ref }}
