---
name: 'Public Key CI'

"on":
  # when the 'General CI' completed (especially the 'Public Key Verification' job)
  workflow_run:
    workflows: ['General CI']
    types:
      - completed

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  public_key_verification:
    name: 'Upload and Sign Public Key'
    runs-on: ubuntu-latest
    timeout-minutes: 15

    # only run if:
    # - the triggering workflows (the workflows that triggered this github action) completed/finished with success
    # - the build runs on the default branch
    if: github.event.workflow_run.conclusion == 'success' && github.ref == format('refs/heads/{0}', github.event.repository.default_branch)

    defaults:
      run:
        shell: bash
        working-directory: '.'

    permissions:
      contents: read
      packages: write

    env:
      # renovate: datasource=github-releases depName=sigstore/cosign
      COSIGN_VERSION: v3.0.4
      REGISTRY: ghcr.io  # GitHub Registry

    steps:
      - name: StepSecurity - Harden Github-hosted Runners
        uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9  # v2.14.1
        with:
          egress-policy: audit
          disable-telemetry: true
          disable-sudo: true

      - name: TESTING
        id: cosign_sign
        run: |
          echo ${{ github.event_name }}
          echo ${{ github.event.repository.default_branch }}
          echo ${{ github.ref }}
