name: 'Public Key CI'

"on":
  # when the 'General CI' completed (especially the 'Public Key Verification' job)
  workflow_run:
    workflows: ['General CI']
    types:
      - completed

concurrency:
  # on main, we want all builds to complete even if commits/merging happens faster to make it easier to discover at which point
  # something broke; else, we cancel "old" builds and run/(re)start the build with the latest changes
  group: ${{ github.ref == 'refs/heads/main' && format('ci-main-{0}-{1}', github.workflow, github.sha) || format('ci-{0}-{1}', github.workflow, github.event.pull_request.number || github.ref) }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  public_key_verification:
    name: 'Upload and Sign Public Key'
    runs-on: ubuntu-latest
    timeout-minutes: 15

    # only run if:
    # - the triggering workflows (the workflows that triggered this github action) completed/finished with success
    # - the build runs on the default branch
    if: github.event.workflow_run.conclusion == 'success' && github.ref == format('refs/heads/{0}', github.event.repository.default_branch)

    defaults:
      run:
        shell: bash
        working-directory: '.'

    permissions:
      contents: read
      packages: write

    env:
      # renovate: datasource=github-releases depName=sigstore/cosign
      COSIGN_VERSION: v3.0.4
      REGISTRY: ghcr.io  # GitHub Registry

    steps:
      - name: StepSecurity - Harden Github-hosted Runners
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76  # v2.14.0
        with:
          egress-policy: audit
          disable-telemetry: true
          disable-sudo-and-containers: true

      # TODO: implement me
