name: 'Public Key CI'

"on":
  # when the 'General CI' completed (especially the 'Public Key Verification' job)
  workflow_run:
    workflows: ['General CI']
    types:
      - completed

concurrency:
  # on main, we want all builds to complete even if commits/merging happens faster to make it easier to discover at which point
  # something broke; else, we cancel "old" builds and run/(re)start the build with the latest changes
  group: ${{ github.ref == 'refs/heads/main' && format('ci-main-{0}-{1}', github.workflow, github.sha) || format('ci-{0}-{1}', github.workflow, github.ref) }}

jobs:
  public_key_verification:
    name: 'Upload and Sign Public Key'
    runs-on: ubuntu-latest
    timeout-minutes: 15

    # only run if:
    # - the triggering workflows (the workflows that triggered this github action) completed/finished with success
    # - the build runs on the default branch
    if: github.event.workflow_run.conclusion == 'success' && github.ref == format('refs/heads/{0}', github.event.repository.default_branch)

    defaults:
      run:
        shell: bash
        working-directory: '.'

    permissions:
      contents: read
      packages: write

    env:
      # renovate: datasource=github-releases depName=sigstore/cosign
      COSIGN_VERSION: v3.0.4
      REGISTRY: ghcr.io # GitHub Registry

    steps:
      - name: StepSecurity - Harden Github-hosted Runners
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76  # v2.14.0
        with:
          egress-policy: audit
          disable-telemetry: true
          disable-sudo: true

      # TODO: implement me

      # - name: Git - Checkout
      #   id: git_checkout
      #   uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
      #   with:
      #     # required by tj-actions/changed-files
      #     fetch-depth: 2

      # - name: Cosign - Setup
      #   id: cosign_setup
      #   uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad  # v4.0.0
      #   with:
      #     cosign-release: ${{ env.COSIGN_VERSION }}

      # - name: Git - Get Changed Files
      #   id: git_changed_files
      #   uses: tj-actions/changed-files@e0021407031f5be11a464abee9a0776171c79891  # v47.0.1
      #   with:
      #     files: |
      #       ./public_key/cosign.pub

      # - name: Docker - Log into Registry
      #   id: docker_login
      #   uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef  # v3.6.0
      #   # if: steps.git_changed_files.outputs.any_changed == 'true'
      #   with:
      #     registry: ${{ env.REGISTRY }}
      #     username: ${{ github.actor }}
      #     password: ${{ secrets.GITHUB_TOKEN }}

      # - name: Cosign - Upload and Sign Public Key
      #   id: cosign_sign
      #   run: |
      #     ARTIFACT="${{ env.REGISTRY }}/${{ github.repository }}/cosign.pub"
      #     cosign upload blob -f cosign.pub --verbose \
      #       -a "repo=${{ github.repository }}" \
      #       -a "workflow=${{ github.workflow }}" \
      #       -a "ref=${{ github.sha }}" \
      #       "${ARTIFACT}"
      #     cosign sign --key env://COSIGN_PRIVATE_KEY --verbose \
      #       -a "repo=${{ github.repository }}" \
      #       -a "workflow=${{ github.workflow }}" \
      #       -a "ref=${{ github.sha }}" \
      #       "${ARTIFACT}"
      #   working-directory: ./public_key/
      #   env:
      #     COSIGN_PRIVATE_KEY: ${{ secrets.COSIGN_PRIVATE_KEY }}
      #     COSIGN_PASSWORD: ${{ secrets.COSIGN_PASSWORD }}
