---
name: 'Public Key CI'

"on":
  # when the 'General CI' completed (especially the 'Public Key Verification' job)
  workflow_run:
    workflows: ['General CI']
    types:
      - completed

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  public_key_verification:
    name: 'Upload and Sign Public Key'
    runs-on: ubuntu-latest
    timeout-minutes: 15

    # only run if:
    # - the triggering workflows completed with success
    # - the build runs on the default branch
    if: >-
      github.event.workflow_run.conclusion == 'success' &&
      github.ref == format('refs/heads/{0}', github.event.repository.default_branch)

    defaults:
      run:
        shell: bash
        working-directory: '.'

    permissions:
      contents: read
      packages: write

    env:
      # renovate: datasource=github-releases depName=sigstore/cosign
      COSIGN_VERSION: v3.0.5
      REGISTRY: ghcr.io  # GitHub Registry

    steps:
      # TODO: implement further steps for signing and uploading if required

      - name: StepSecurity - Harden Github-hosted Runners
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e  # v2.14.2
        with:
          egress-policy: audit
          disable-telemetry: true
          disable-sudo-and-containers: true

      - name: Git - Checkout
        id: git_checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683  # v4.2.2
        with:
          # required by tj-actions/changed-files
          fetch-depth: 2

      - name: Cosign - Setup
        id: cosign_setup
        uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad  # v4.0.0
        with:
          cosign-release: ${{ env.COSIGN_VERSION }}
