---
name: "Sync CI"

"on":
  # run on pushes to Main
  push:
    branches:
      - main
      - gh-readonly-queue/main/**
  # run weekly on Monday at 12:00
  schedule:
    - cron: '0 12 * * 1'
  # run manually
  workflow_dispatch:

concurrency:
  group: >-
    ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  sync_config:
    name: 'Sync Repository Configuration'
    runs-on: ubuntu-latest
    timeout-minutes: 15

    defaults:
      run:
        shell: bash
        working-directory: '.'

    permissions:
      contents: read

    steps:
      - name: StepSecurity - Harden Github-hosted Runners
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e
        with:
          egress-policy: audit
          disable-telemetry: true
          disable-sudo-and-containers: true

      - name: Git - Checkout
        id: git_checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683

      - name: GitHub - Generate App Token
        id: github_generate_app_token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf
        with:
          app-id: ${{ secrets.REPOSITORY_ASSISTANT_APP_ID }}
          private-key: ${{ secrets.REPOSITORY_ASSISTANT_PRIVATE_KEY }}

      - name: GitHub - Sync Repository Configuration
        id: github_sync_repo_config
        uses: BetaHuhn/repo-file-sync-action@8b92be3375cf1d1b0cd579af488a9255572e4619
        with:
          GH_INSTALLATION_TOKEN: ${{ steps.github_generate_app_token.outputs.token }}
          PR_LABELS: configuration
          ASSIGNEES: busybeaver
          REVIEWERS: busybeaver
          COMMIT_PREFIX: "chore: "
          COMMIT_BODY: "Synchronize Repository Configuration"
          PR_BODY: "Synchronize Repo Config"
          GIT_EMAIL: >-
            ${{ secrets.REPOSITORY_ASSISTANT_APP_ID }}+repository-assistant[bot]@users.noreply.github.com
          GIT_USERNAME: repository-assistant[bot]
