name: "Sync CI"

on:
  # run on pushes to main
  push:
    branches:
      - main
      - gh-readonly-queue/main/**
  # run weekly on Monday at 12:00
  schedule:
    - cron: '0 12 * * 1'
  # run manually
  workflow_dispatch:

jobs:
  sync_config:
    name: 'Sync Repository Configuration'
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash
        working-directory: '.'

    permissions:
      contents: read

    steps:
      - name: StepSecurity - Harden Github-hosted Runners
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit
          disable-telemetry: true
          disable-sudo: true

      - name: Git - Checkout
        id: git_checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: GitHub - Generate App Token
        id: github_generate_app_token
        uses: tibdex/github-app-token@3beb63f4bd073e61482598c45c71c1019b59b73a # v2.1.0
        with:
          app_id: ${{ secrets.REPOSITORY_ASSISTANT_APP_ID }}
          private_key: ${{ secrets.REPOSITORY_ASSISTANT_PRIVATE_KEY }}

      - name: GitHub - Sync Repository Configuration
        id: github_sync_repo_config
        uses: BetaHuhn/repo-file-sync-action@8b92be3375cf1d1b0cd579af488a9255572e4619 # v1.21.1
        with:
          GH_INSTALLATION_TOKEN: ${{ steps.github_generate_app_token.outputs.token }}
          PR_LABELS: configuration
          ASSIGNEES: busybeaver
          REVIEWERS: busybeaver
          COMMIT_PREFIX: "chore: "
          COMMIT_BODY: "Synchronize Repository Configuration"
          PR_BODY: "Synchronize Repository Configuration"
          GIT_EMAIL: ${{ secrets.REPOSITORY_ASSISTANT_APP_ID }}+repository-assistant[bot]@users.noreply.github.com
          GIT_USERNAME: repository-assistant[bot]
