---
name: 'Versioning CI'

"on":
  # best case would be when 'General CI' and 'Repository CI' complete:
  workflow_run:
    workflows: ['General CI']
    types:
      - completed

concurrency:
  group: >-
    ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  semantic_versioning:
    name: 'Semantic Versioning'
    runs-on: ubuntu-latest
    timeout-minutes: 15

    # only run if:
    # - triggering workflows completed successfully:
    # - the build runs on the default branch
    if: >-
      github.event.workflow_run.conclusion == 'success' &&
      github.ref == format('refs/heads/{0}',
      github.event.repository.default_branch)

    defaults:
      run:
        shell: bash
        working-directory: '.'

    permissions:
      contents: read

    steps:
      - name: StepSecurity - Harden Github-hosted Runners
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e
        with:
          egress-policy: audit
          disable-telemetry: true
          disable-sudo-and-containers: true

      - name: Git - Checkout
        id: git_checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
        with:
          # required by PaulHatch/semantic-version
          fetch-depth: 0
          # this is the token (i.e. the user) that is used for git operations
          token: ${{ secrets.GH_AUTOMATION_TOKEN }}

      - name: determination of semantic version
        id: determine_semantic_version
        uses: PaulHatch/semantic-version@a8f8f59fd7f0625188492e945240f12d7ad2dca3
        with:
          tag_prefix: "v"
          major_pattern: >-
            (?:^\w+(?:\((?:\w|\s|\-|_)+\))?!:\s\w+)|(?:BREAKING CHANGE:)
          minor_pattern: >-
            /^feat(?:\((?:\w|\s|\-|_)+\))?:\s\w+/
          bump_each_commit: true
          # so we can find potential 'BREAKING CHANGE' statements
          search_commit_body: true

      - name: GitHub - Setup GPG Keys
        id: github_setup_gpg
        uses: crazy-max/ghaction-import-gpg@e89d40939c28e39f97cf32126055eeae86ba74ec
        if: steps.determine_semantic_version.outputs.version_type != 'none'
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.GPG_PASSPHRASE }}
          git_user_signingkey: true
          git_tag_gpgsign: true
          # not supported by GitHub: see issue 23515
          git_push_gpgsign: false

      - name: Git - Tag Semantic Version
        id: git_tag_semantic_version
        if: steps.determine_semantic_version.outputs.version_type != 'none'
        run: |
          git tag -a "${{ steps.determine_semantic_version.outputs.version_tag }}" \
            -m "repo=\"${{ github.repository }}\"" \
            -m "workflow=\"${{ github.workflow }}\"" \
            -m "ref=\"${{ github.sha }}\""
          git push origin "${{ steps.determine_semantic_version.outputs.version_tag }}"
